@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css');

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    margin-top: 2rem;
    text-align: center;
}

button a {
    text-decoration: none;
}

.inputs {
    align-items: center;
    justify-content: space-between;
    margin: .5rem 0 .5rem 0;
}

.inputs input{
    margin-left: .5rem;
}